
body{
	margin: 0;
}

/* signature/logo */
header{
	padding-top: 100px;
	text-align: center;
}

/* Illustrator, artist, printmaker */
h1{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	color: black;
}


div.about {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	color: black;
}

@media screen and (min-width: 601px) {
  div.about {
  	text-align: center;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
	color: black;
  }
}

@media screen and (max-width: 600px) {
  div.about {
    text-align: center;
	font-size: 22px;
    font-family: "Courier New", Courier, monospace;
	color: black;
  }
}



/* nav buttons */
ul{
	text-align: center;	
}

/* nav links */

/* nav links */
a.nav{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	color: black;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
}

@media screen and (min-width: 601px) {
  a.nav {
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	padding-right: 40px;
	padding-bottom: 80px;
	padding-top:70px;
  }
}

@media screen and (max-width: 600px) {
  a.nav {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	padding-right: 40px;
	padding-bottom: 80px;
	padding-top:70px;
  }
}
/* nav buttons */
a.nav:hover {
	transform: rotate(15deg);
	color: green;
}

/* image links */
a.image{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	color: black;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
}
/* nav buttons */
a.image:hover {
	transform: rotate(1deg);
	color: green;
}

/* the one inactive nav button (current page) */
b{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	color: green;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
}

/* title texts */
h2{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;

}

/* lighter body text texts - centre aligned */
h3{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;

}

/* lighter body text left aligned */
h4{
	text-align: left;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;

}

h5{
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;


}
/* footer text */
h6{
	text-align: center;
	padding-top: 250px;
	font-family: "veranda", Geneva, sans-serif;
	font-size: 12px;
	color: grey;

}

/* main body - index page */
main{
	margin: 10px;
}

.container {
  display: flex;
  align-items: flex-start; 
  justify-content: space-around;

}

.item{
	margin: 5px;
}

@media only screen and (max-width: 200px;) {
	.container,
	.item{
		flex-direction: column;
	}





